h1{
    background-color: darkgrey;
    color: white;
    width: 100%;
    text-align: center;
}

.form-inline,.list-group{
    width: 80%;
}

/* .card-deck{
    width:18%;
} */
.btn{
    
    border-radius: 10px;
}
#currentWeather{
    border-style: solid;
    border-color: gray;
    border-width: thin;
}

#currUVindex{
    background-color: orangered;
    border-radius: 5px;
    width:50px;
    color: white;
    font-size: small;
}

#searchBlock{
    background-color: gainsboro;
}
.card-body{
    padding: 5px;
}
.list-group-item{
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

.close {
    color: blue;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }